body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #0f55bd;
}

.projName {
  font-size: 30px;
  font-weight: bold;
}

nav {
  display:flex;
  align-items: center;
  gap: 20px;
  background: #0f3460;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #fbfbfb;
  border-radius: 8px;
  justify-content: space-between;
  font-weight: bolder;
}

.navLeft, .navRight {
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
}

nav a:visited, nav a:active nav a:link {
  color: white;
  text-decoration: none;
}

input, button {
  margin: 5px;
  padding: 8px;
  display: block;
}

/* HOME */
.homeContainer {
  background-color: #0f3460;
  border-radius: 8px;
  padding: 20px;
}

.welcome {
  color: #f8f8f8;
  font-size: 32px;
  margin-bottom: 16px;
  font-weight: bolder;
}

.cryptoTable {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  color: white;
  font-weight: bold;
}

.positive {
  color: #4caf50;
}

.negative {
  color: #e53935;
}

.buyButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #0f55bd;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  color:#f8f8f8;
  font-weight: bold;
}

.modalContent h3 {
  color: #ffffff;
}

.modalInputGroup {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  margin: 10px 0; 
  margin-bottom: 20px; 
}

.modalInputGroup label {
  color: #f8f8f8;
}

.modalInputGroup input {
  width: 100px;
  border-radius: 8px;
  margin: 0; 
  border: white;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  align-self: center;
  padding: 8px 16px; 
  border: none; 
  border-radius: 8px;
  cursor: pointer; 
}

/*portfolio*/
.myPortfolioContainer {
  background-color: #0f3460;
  border-radius: 8px;
  padding: 20px;
  color: #fafafa;
  font-weight: bolder;
}

.balance {
  color: #f8f8f8;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}

.balance span {
  color: #4caf50;
  font-weight: bold;
}

.holdings .transactionHistory {
  background-color: #0f3460;
  padding: 10px;
  border-radius: 8px;
}

.tableHeader {
  display: flex;
  background-color: rgb(3, 42, 158);
  font-weight: bold;
  padding: 12px 15px;
  /* border-bottom: 1px solid #e0e0e0; */
}

.headerCell {
  flex: 1;
  text-align: left;
  padding: 0 10px;
}

.tableRow {
  display: flex;
  padding: 15px;
  align-items: center;
  /* border-bottom: 1px solid #e0e0e0; */
}

.tableRow:nth-child(even) {
  background-color: #0f3460;  
}

.tableRow:nth-child(odd) {
  background-color: #0f55bd;  
}

.tableCell {
  flex: 1;
  padding: 0 10px;
  text-align: left;
}

.sellButton {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #0f55bd;
}

.auth h1 {
  color: #fafafa;
  margin-bottom: 20px;
}

.auth form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  background-color: #0f3460;
  border-radius: 8px;
}

.auth input {
  padding: 12px;
  border-radius: 8px;
  border-color: rgb(10, 92, 244);
  background-color: rgb(10, 92, 244);
  color: white;
}
.auth input::placeholder {
  color: #000000;
}

.auth button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.profileContainer {
  background-color: #0f3460;
  border-radius: 8px;
  padding: 20px;
  color: #fafafa;
}

.searchContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 500px;
}

.searchContainer input[type="text"] {
  padding: 12px; 
  border-radius: 8px;
  border: 1px solid rgb(10, 92, 244); 
  background-color: rgb(10, 92, 244); 
  color: white;
  font-weight: bold;
  flex-grow: 1; 
  width: auto; 
}

.searchContainer input[type="text"]::placeholder {
  color: #000000;
  opacity: 1; 
  font-weight: bold;
}

.searchContainer button {
  background-color: rgb(10, 92, 244);
  color: white;
  border: none; 
  padding: 12px 20px; 
  border-radius: 8px; 
  cursor: pointer;
  font-size: 16px; 
  font-weight: bold; 

}

.userPortfolio {
  margin-top: 20px;
}

.userPortfolio h2 {
  color: #fafafa;
  margin-bottom: 15px;
}

.noHoldings {
  text-align: center;
  padding: 20px;
  color: #f3eeee;
  background-color: #0f3460;
  border-radius: 8px;
}

.noHistory {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.alertModalContent {
  background: #0f55bd; 
  padding: 30px; 
  padding-top: 40px; 
  border-radius: 8px;
  width: 300px; 
  max-width: 90%;
  color: #f8f8f8;
  font-weight: bold;
  position: relative; 
  text-align: left; 
}

.alertModalContent .alertCloseButton {
  background: #0f55bd; 
  position: absolute; 
  top: 10px; 
  right: 10px; 
  border: none; 
  color: #f8f8f8;
  font-size: 20px;
  cursor: pointer;
}